[Desktop Entry]
Version=1.0
Type=Application
Name=bCleaner
Comment=
Exec=sh -c "~/GitHub/Scripts/cleaner.sh"
Icon=aptdaemon-cleanup
Path=
Terminal=true
StartupNotify=false
