[Desktop Entry]
Version=1.0
Type=Application
Name=Restart
Comment=
Exec=xfce4-session-logout -r -f
Icon=system-restart-panel
Path=
Terminal=false
StartupNotify=false
