[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown
Comment=
Exec=xfce4-session-logout -h -f
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
