[Desktop Entry]
Type=Application
Name=Universal Media Server
GenericName=UMS
Comment=Universal Media Server
Exec=/opt/ums/UMS.sh
Icon=/opt/ums/web/logo.png
Terminal=false
X-MultipleArgs=false
Categories=Network
StartupNotify=true
